################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/my-app/node_modules
/my-app/.vs
/.vs
